# Gestion du commit pour la synchronisation Maison

###########
# ANGULAR #
###########

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

########
# JAVA #
########
*.class

###############
# IDEs Editor #
###############

/.idea
/..metadata
/.settings
/.vs

#################
# Package Files #
#################
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#################
# Build results #
#################

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
target/
out/

#########
# OTHER #
#########

*.log
*.iml
