@media scren and (max-width: 1024px) {

    main{
        margin-right: 15%;
        margin-left:  15%;
    }

    .css_bandeau_wave {
        height: 36vh;
    }

    .css_form_label_input_nom > input{
        width: 60%;
        margin-right: 0em;
    }
    .css_form_label_input_prenom > label{
        margin-left: 0em;
    }
}
